{% extends "base.html" %} {% block title %}Erreur 404{% endblock %} {% block content %}
<main>
    <h2>ERREUR 404</h2>
    <p>Cette page a peut-être été déplacée ? A été supprimée ? Se cacher en quarantaine ? N'a jamais existé ?</p>
</main>
{% endblock %}