{% extends "base.html" %} {% block title %}Erreur 500{% endblock %} {% block content %}
<main>
    <h2>ERREUR 500</h2>
    <h3>ERREUR SERVEUR</h3>
    <p>Cette page est momentanément indisponible, nous travaillons sur le problème désoler de l'inconvéniant</p>
</main>
{% endblock %}