{% extends "base.html" %}
{% block title %}Liste des magasins{% endblock %}
{% block content %}
        <main>
            <h2>Liste des magasins</h2>
            <ul class="list-unstyled">
                {% for magasin in listeMagasins %}
                    <li><a href="/magasins/{{magasin.id}}">{{magasin.nom}}</a></li>
                {% endfor %}
                <li><a href="/magasins/0">Tous</a></li>
            </ul>
        </main>
{% endblock %}
