{% extends "base.html" %}
{% block title %}Liste de produit{% endblock %}
{% block content %}
    <main>
        <h2>Liste des produits pour {{nomMagasin}}</h2>
        <a href="/produits/creer" class="btn btn-primary">Créer nouveau produit</a>
        <table class="table table-stripped">
          <thead>
              <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Description</th>
                  <th scope="col">Prix</th>
                  <th scope="col">Coûtant</th>
                  <th scope="col">Taxable</th>
                  <th scope="col">Catégorie</th>
                  <th scope="col">Actions</th>
              </tr>
          </thead>
          <tbody>
          {% for produit in listeProduits %}
                <tr>
                    <td>
                        {{produit.id}}
                    </td>
                    <td>
                        {% if produit.description is none %}
                            Description Manquante
                        {% else %}
                            {{produit.description}}
                        {% endif %}
                    </td>
                    <td>
                        {{produit.prix}}
                    </td>
                    <td>
                        {{produit.coutant}}
                    </td>
                    <td>
                        {% if produit.taxableProvincial and produit.taxableFederal %}
                            Fédéral et Provincial
                        {% elif produit.taxableProvincial and not produit.taxableFederal %}
                            Provincial
                        {% elif not produit.taxableProvincial and produit.taxableFederal %}
                            Féderal
                        {% else %}
                            Non taxable
                        {% endif %}
                    </td>
                    <td>
                        {{produit.categorie}}
                    </td>
                    <td>
                        <a href="/produits/{{produit.id}}" class="btn btn-primary">Modifier</a>
                        <a href="/produits/{{produit.id}}/supprimer" class="btn btn-primary">Supprimer</a>
                    </td>
                </tr>
          {% endfor %}
          </tbody>
        </table>
    </main>
{% endblock %}
