{% extends "base.html" %}
{% block title %}Produit{% endblock %}
{% block content %}
    <main>
        <h2>Produit {{nom|default('')}} </h2>
        <form method="POST">
            {% if messages is defined %}
                <div class="alert alert-warning" role="alert">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" name='description'
                       value="{{description|default('')}}">
            </div>

            <div class="form-group">
                <label for="coutant">Coûtant</label>
                <input type="number" class="form-control" id="coutant" name='coutant'
                       value="{{coutant|default('')}}">
            </div>
            <div class="form-group">
                <label for="prix">Prix</label>
                <input type="number" class="form-control" id="prix" name='prix'
                       value="{{prix|default('')}}">
            </div>
            <fieldset>
                <legend>Taxes</legend>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="taxe_prov" id="taxe_prov" {% if taxe_pro %}checked
                        = "checked" {% endif %}>
                    <label class="form-check-label" for="taxe_prov">
                        Taxe provinciale
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="taxe_fed" id="taxe_fed" {% if taxe_fed %}checked =
                        "checked" {% endif %}>
                    <label class="form-check-label" for="taxe_fed">
                        Taxe fédérale
                    </label>
                </div>
            </fieldset>
            <div class="form-group">
                <label for="type">Type de produit</label>
                <select id="type" name="type">
                    {% for id,type in types %}
                        <option value="{{ id }}" {% if categorie == id %}
                            selected="selected"
                        {% endif %} >{{ type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="magasin">Magasin</label>
                <select id="magasin" name="magasin">
                    {% for id, nom in magasins %}
                        <option value="{{ id }}" {% if magasin == id %}selected="selected"
                        {% endif %} >{{ nom }}</option>
                    {% endfor %}
                    <option value="0" {% if magasin == None %}selected="selected"{% endif %}>Tous les magasins</option>
               </select>
           </div>

            <button type="submit" class="btn btn-primary">Soumettre</button>
            <a href="/magasins" class="btn btn-danger">Annuler</a>
        </form>
    </main>
{% endblock %}
