{% extends "base.html" %}
{% block title %}Authentification{% endblock %}
{% block content %}
    {% if message is defined %}
        <div id="message">
            {{ message }}
        </div>
    {% endif %}
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>

        <label for="username" class="sr-only">Nom d'utilisateur</label>
        <input type="text" id="username" class="form-control" name="username" placeholder="Nom d'utilisateur" required autofocus>

        <label for="password" class="sr-only">Mot de passe</label>
        <input type="password" id="password" class="form-control" name="password" placeholder="Mot de passe" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
    </form>
{% endblock %}
