{% extends "base.html" %}
{% block title %}Produit{% endblock %}
{% block content %}
    <main>
        <h2>Création Compte</h2>
        <form method="POST">
            {% if messages is defined %}
                <div class="alert alert-warning" role="alert">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="username" name='username'
                       value="{{nom_utilisateur|default('')}}">
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name='password'
                       value="{{mdp|default('')}}">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="admin" id="admin" {%
                        if est_admin %}checked= "checked" {% endif %}>
                <label class="form-check-label" for="admin">
                    Admin
                </label>
            </div>



            <button type="submit" class="btn btn-primary">Soumettre</button>
            <a href="/admin/comptes" class="btn btn-danger">Annuler</a>
        </form>
    </main>
{% endblock %}

