{% extends "base.html" %}
{% block title %}Menu Admin{% endblock %}
{% block content %}
    <main>
        <h2>Menu Admin</h2>
        <a href="/admin/comptes" class="btn btn-primary btn-lg" role="button">Comptes</a>
        <a href="/magasins" class="btn btn-primary btn-lg" role="button">Magasins</a>
    </main>
{% endblock %}
