{% extends "base.html" %}
{% block title %}Gestion des comptes{% endblock %}
{% block content %}
    <main>
        <h2>Liste des comptes</h2>
        <a href="/admin/comptes/creer" class="btn btn-primary">Créer nouveau compte</a>
        <table class="table table-stripped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for compte in comptes %}
                <tr>
                    <td>{{compte.uid}}</td>
                    <td>{{compte.nom}}</td>
                    <td><a href="comptes/{{ compte.uid }}/supprimer" class="btn btn-primary">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
